av==12.3.0
datasets==2.21.0
decord==0.6.0
jsonargparse==4.32.0
numpy==1.26.4
opencv-python==4.10.0.84
scipy==1.13.1
torch
tqdm==4.66.5
transformers==4.52.4
colorlog==6.9.0
vllm==0.6.3
clickhouse_driver==0.2.9
aisuite==0.1.11
docstring_parser==0.16
math_verify==0.7.0
word2number==1.1
accelerate==1.7.0
rapidfuzz==3.13.0
tree-sitter==0.21.1
tree-sitter-languages==1.10.2
semgrep==1.124.0
colorlog
appdirs
modelscope